<!-- pokemon-details.component.html -->
<div *ngIf="pokemon" class="pokemon-details">
	<h2 class="text-3xl font-bold mb-4">{{ pokemon?.name }}</h2>
	<img [src]="pokemon?.image" alt="{{ pokemon?.name }}" class="w-48 mx-auto mb-4">
	<p class="text-lg mb-2"><strong>Type:</strong> {{ pokemon?.type }}</p>
	<p class="text-lg mb-2"><strong>Height:</strong> {{ pokemon?.height  }} m</p>
	<p class="text-lg mb-2"><strong>Weight:</strong> {{ pokemon?.weight }} kg</p>
  </div>
  
	{# <a [routerLink]="['/pokemons']" class="text-blue-500 underline">Back to Pokémon List</a> #}